* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.img_container img, .img_container video {
    max-width: 100%;
    height: auto;
    display: block;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.hide_mobile, .img_container .hide_mobile{
    display: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 64px;
}

nav {
    width: 60%;
}
/* Banner */
.banner {
    background: lightblue;
    padding-bottom: 32px;
}

#banner_info {
    margin: 32px 16px 0 16px;
}

#banner_info h4 {
    margin-top: 32px;
}

#banner_info button {
    margin-top: 24px;
    padding: 8px 0;
    border: none;
    width: 100%;
    background: grey;
    color: white;
}

/* info */
#info {
    padding: 16px 16px 32px 16px;
}

#info .info_card:nth-child(even) {
    margin: 64px 0;
}

.info_card .width_65{
    padding: 0 16px;
}

.info_card .width_65 h4 {
    margin-top: 16px;
}

.info_card .width_65 p:nth-child(2) {
    margin: 8px 0;
}

.info_card .width_65 a {
    color: blue;
}

/* courses */
.courses_container {
    padding: 32px 16px;
}

.courses_container h2, #exhibits h2 {
    text-align: center;
}

.courses, .exhibit_content {
    margin-top: 16px;
}

.course {
    margin-bottom: 8px;
}

.courses .row:last-child .course:last-child {
    margin-bottom: 0;
}

.course_info h4 {
    padding: 16px 16px 24px 16px;
    background: lightblue;
}

/* Thesis or exhibition */
#exhibits {
    padding: 32px 0 24px 0;
}

footer {
    padding: 16px;
}

@media only screen and (min-width: 620px) {
    .hide_desktop, .img_container .hide_desktop{
        display: none;
    }

    .hide_mobile, .img_container .hide_mobile{
        display: block;
    }

    .container {
        padding: 32px 24px;
        display: flex;
    }

    .width_40 {
        margin-left: 24px;
        width: 40%;
    }

    .width_60 {
        width: 60%;
    }

    .width_35 {
        width: 35%;
    }

    .width_65 {
        width: 65%;
    }

    header {
        justify-content: space-between;
        padding: 0 24px;
    }

    .logo {
        display: flex;
        align-items: center;
        height: 32px;
    }

    .logo_text span:first-child {
        font-weight: bold;
    }

    .logo_text span:last-child {
        color: blue;
    }

    nav .hide_mobile {
        display: flex;
    }

    nav, nav ul {
        width: auto;
        height: 100%;
    }

    nav li {
        border-right: 16px solid lightblue;
        height: 100%;
        display: flex;
        align-items: center;
    }

    nav li:last-child {
        border: none;
    }

    #banner_info {
        display: flex;
        flex-direction: column;
        margin: 0 24px;
        justify-content: center;
    }

    #info .main_info h2 {
        margin-top: 32px;
        margin-bottom: 24px;
    }

    .main_info p:last-child {
        margin-top: 24px;
    }

    .info_card {
        display: flex;
    }

    #info .info_card:nth-child(even) {
        margin: 0;
    }

    .info_card .width_65 h4 {
        margin-top: 0;
    }

    #info .width_40 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 64px;
    }

    .info_card .width_65 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .courses_container {
        padding: 32px 72px;
    }

    .row {
        display: flex;
        margin-bottom: 32px;
    }

    .row:last-child {
        margin-bottom: 0;
    }

    .course {
        padding-bottom: 24px;
        margin-left: 32px;
    }

    .course_info {
        padding: 0 16px;
    }

    .course_info h4 {
        margin: 16px 0 8px 0;
        padding: 0;
        background: transparent;
    }

    .course_info p:last-child {
        margin-top: 8px;
        font-size: .8rem;
    }

    #exhibits {
        flex-direction: column;
        margin: 0 24px;
    }

    .exhibit_content {
        display: flex;
    }

    .thesis_card {
        display: flex;
        margin-bottom: 24px;
    }

    .thesis_card .width_65 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 16px;
    }

    .exhibit_content h4 {
        margin: 16px 0 8px 0;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

}